<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <body bgcolor="pink">
  <h1 align="center"><b><i>Online Question Management</i></b></h1>
  <a class="navbar-brand" href="" routerLink="app-home"></a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-support">

    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngStyle]="{background: 'url(./pictures/' + 'p1.jpeg)'}" id="navbar-support">
  <!--<div [ngStyle]="{background: 'url(./images/' + trls.img + ')'}"></div>-->
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="allQuestions">Question list</a>

      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="addquestion">Add Question</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="getquestionbyId">Find Question By Id</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="updatequestion">Update Question</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="deletequestion">Delete Question</a>
      </li>

    </ul>
  </div>
</body>
</nav>



<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div style="margin-top: 50px;margin-bottom: 20px;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="offset-md-1 col-md-2">
      <div style="margin-top: 50px;margin-bottom: 20px;">
      </div>
    </div>
  </div>
</div>